<a href="https://colab.research.google.com/github/sharad609/google-colab-workspace/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
#database creation
conn = sqlite3.connect('training.db')

In [ ]:
#create a cursor
c = conn.cursor()

In [ ]:
#create a table
c.execute('''CREATE TABLE student (first_name TEXT, last_name TEXT, roll_no INTEGER, branch TEXT) ''')
#it has 5 data types:NULL,INTEGER,REAL(decimal),TEXT,BLOB(store as exactly as it is).

In [ ]:
c.execute("INSERT INTO student VALUES('Sharad', 'Mishra', 206, 'CSE')")

In [ ]:
#to insert multiple values create an array object
all_stu = [('Pinkesh', 'Pritam', 162, 'DS'), ('Mohit', 'Jha', 149, 'AI')]

In [ ]:
c.executemany("INSERT INTO student VALUES (?,?,?,?)",all_stu)

In [ ]:
c.execute("SELECT * FROM student")
for i in c.execute("SELECT * FROM student"):
  print(i)

('Sharad', 'Mishra', 206, 'CSE')
('Pinkesh', 'Pritam', 162, 'DS')
('Mohit', 'Jha', 149, 'AI')

In [ ]:
c.execute("SELECT * FROM student")

In [ ]:
print(c.fetchone())

('Sharad', 'Mishra', 206, 'CSE')

In [ ]:
print(c.fetchmany())

[('Pinkesh', 'Pritam', 162, 'DS')]

In [ ]:
print(c.fetchall())

[('Mohit', 'Jha', 149, 'AI')]

In [ ]:
print(c.fetchmany())

[]

In [ ]:
#commit our command
conn.commit()

In [ ]:
#close the connection when there is no need to use database
conn.close()